.awDiv
{
  background-color:#CCCCFF;
  color:#000033;
  margin-left:5px;
  font-size:10pt;

}
.awSpan2
{
  margin-left:20px;
  width:50px;
  font-weight: bold;
}

.awSpan1
{
  margin-left:20px;
  width:10px;
  font-weight: bold;
}